body{
	margin: 0;
}
div.Exam_IMDB{
	font-family: 'Didact Gothic', sans-serif;
}
a{
	text-decoration: none;
	text-transform: capitalize;
	color: white;
}
div.top{
	width: 100%;
	height: 100vh;
	background-image: url(../images/background.png);
	background-size: cover;
	background-position: center;
}


div.headleft, div.headright{
	height: 10vh;
}
div.headleft{
	float: left;
	margin-left: 20px;
}
div.headleft h2{
	font-family: 'Acme', sans-serif;
	color: white;
}
div.headleft h2 a{
	text-transform: uppercase;
}
div.headright{
	float: right;
	margin-right: 20px;
}
div.headright ul{
	list-style-type: none;
}
div.headright ul li{
	display: inline;
}
div.headright ul li a{
	padding: 10px;
}
div.headright ul li a.signup{
	background-color: white;
	color: purple;
	border-radius: 10px;
}
div.headright ul li a.signup:hover{
	background-color: purple;
	color: white;
}
div.empty{
	clear: both;
}

div.neck{
	height: 80vh;
	width: 100%;
	display: table;
	text-align: center;
}
div.throat{
	display: table-cell;
	vertical-align: middle;
	color: white;
}
div.throat h2{
	margin-bottom: 40px;
}
div.throat a{
	padding: 15px 32px;
	padding-top: 12px;
	background-color: purple;
	border-radius: 10px;
	font-size: 1.5em;
}



div.container{
	width: 85%;
	margin: 50px auto;
	text-align: center;
}

div.wrapper{
	width: 33.333%;
	float: left;
}
div.card{
	background-color: #2651a8;
	color: white;
	border-radius: 10px;
	padding: 50px 20px;
	margin: 0 25px;
	margin-bottom: 25px;
}
div.card img{
	height: 60px;
}


div.bottom{
	background-color: #1f0537;
	color: white;
}
div.botcontainer{
	width: 85%;
	padding: 30px 0;
	margin:0 auto;
}
div.left{
	float: left;
	width: 47.5%;
}
div.right{
	float: right;
	width: 47.5%;
}
div.right h3{
	text-transform: capitalize;
}
div.right input.name, div.right input.mail{
	width: 50%;
	border-radius: 10px;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
}
div.right textarea{
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	resize: none;
	border: none;
	box-sizing: border-box;
	margin-bottom: 10px;
	height: 150px;
}
div.right input.submit{
	width: 50%;
	float: right;
	background-color: purple;
	border: none;
	border-radius: 10px;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.5em;
}

div.foot{
	text-align: center;
	padding-top: 20px;
}
div.foot span{
	text-transform: uppercase;
}


@media screen and (max-width: 996px){
	div.wrapper{
	width: 50%;
	}
}

@media screen and (max-width: 768px){
	div.wrapper{
	width: 100%;
	}
	a.hidden{
		display: none;
	}
	div.left, div.right{
		float: left;
		width: 100%;
	}
	div.right input.name, div.right input.mail, div.right input.submit{
		width: 100%;
		box-sizing: border-box;
	}
}
